music-playlist/src/main/resources/orderPlaylist.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://example.com/playlist/orderPlaylist"
	xmlns:tns="http://example.com/playlist/orderPlaylist"
	elementFormDefault="qualified">

	<xsd:element name="orderPlaylistRequest">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="name" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="orderPlaylistResponse">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="message" type="xsd:string" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>